@import "../../styles/base.scss";

.challenge {
  padding: 108px 16px 0 16px;

  @include tablet-view() {
    padding: 108px 24px 0 24px;
  }

  @include laptop-view() {
    padding: 75px 180px 0 180px;
    margin: 0 auto;
    max-width: 1440px;
  }

  &__content {
    width: 100%;
  }

  &__header {
    width: 100%;
    margin: 0 0 20px 0;
  }

  &__title {
    font-weight: 400;
    color: $grey-1;
    width: 100%;
    margin: 12px 0 6px 0;
  }

  &__display {
    display: flex;
  }

  &__info {
    padding: 10px 0 10px 20px;
  }

  &__title {
    font-weight: 400;
    font-size: 30px;
    color: $grey-1;
    width: 100%;
    margin: 12px 0 20px 0;
  }

  &__calendar {
    display: flex;
  }

  &__calendar-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
  }

  &__dates {
    font-weight: 300;
    color: $green-3;
    margin: 10px;
  }

  &__description {
    font-weight: 300;
    color: $white;
    margin: 0;
  }
}